@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@500;700&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

#title {
    margin-top: 3em;
}

.page {
    display: flex;
}

.left {
    background-color: white;
    padding: 0 4em;
}

.right {
    flex: 1;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hi {
    background-color: #f3f3f3;
    margin-top: 10em;
}